
.openerp .menu {
	height: 34px;
	background: white;
	background: -moz-linear-gradient(top, white 0%, yellow 8%, orange 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(8%,yellow), color-stop(100%,orange));
	background: -webkit-linear-gradient(top, white 0%,yellow 8%,orange 100%);
	background: -o-linear-gradient(top, white 0%,yellow 8%,orange 100%);
	background: -ms-linear-gradient(top, white 0%,yellow 8%,orange 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='orange',GradientType=0 );
	background: linear-gradient(top, white 0%,yellow 8%,orange 100%);
}

.openerp .company_logo {
	background: url(../img/logo-test.png);
	background-image: url(../img/logo-test.png);
}


/* INSERT IN base.css
.openerp .oe_login {
  background-image: url('data:image/png;base64,\
iVBORw0KGgoAAAANSUhEUgAAAC4AAAAeCAYAAABTwyyaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI\
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEdDCQfiJ0WlAAAAa1JREFUWMPt189vTFEcBfDPM6hQ\
LIggNDSEREJiEsKCiFSsJMTO39e1lQUWCKkfXVhYtEmjSslMdJIaFaVUbY6V1czrTNvknc277757\
7zv33PM9L48KFSpUqLBOUHQzqbZGZHegjhP4gsVOF9jcZ8JHcQz7MYhP3XKo9UndA/iN29iKk/iA\
J5jrZtFeK34ep/KeB3iORqyxp4xwq634dpzGz7SvooUJzGAW3zCPkViluZaK706xHcn9r5AfwhS+\
4jqehnQjGzqO6fT1TfFtUXcvfuBmCIzhXZTchTNJj504lxT5jOV4/W021nPFD2E4atai3kTarVxv\
YRx3sSUncBnXsCnrvMafbouz6HBsHWeTDAfxCM9SbCO4ggXcw5uQvhGyA9nY/RAuhVoX4xdy1IMp\
wPE8m8dFPIyKl9DOnIFY51W8XxqdWuVjkkHi7ELIfw/x2ViikY218QJLWFnN+KqVjL7h2GA6fa0Q\
nsHjeH+5Fx+IMsSXsA+H8TJ97ZB9n1PoGcoQX0xazMXz/wpuxQZAYcNgdHRdkO3YKneazWKoXi+m\
JierX6AKFSr8j78himYI1TusfQAAAABJRU5ErkJggg==\
');
} 
*/
